 body {
 	font-family: Verdana;
 	line-height: 0.7cm;
 	background :url(https://wallpaper-gallery.net/images/galaxy/galaxy-2.png);
 	background-size:auto;
 	font-size: 23px;


 }

 article {
 	max-width:  700px;
 	margin:0  auto;
 }

h1 {

	color: Gold;
	
}

h2 {
	color:red;
}
 h3 {
 	color:SlateBlue;
 }

header {
	background-color: IndianRed;
	color:white;
	border:5px solid white;
	text-align:center;
	padding:15px;
	margin:auto;
	width: 1000px;
}

section {
	background-color: Wheat;
	color:brown;
	border: 5px solid DarkBlue;
	text-align:center;
	padding: 15px;
	margin-bottom:0px;
	margin:auto;
	width: 1000px;
	