 header {
	color: black;
	border:5px solid purple;
	text-align:center;
	padding:15px;
	margin:auto;
	width: 1000px;
	background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/53/22/565796df302de21.jpg);
}

 body {
 	font-family: Verdana;
 	line-height: 0.7cm;
 	background :url(https://wallpaper-gallery.net/images/galaxy/galaxy-2.png);
 	background-size:auto;
	font-size: 18px;


 }

section {
	background-color: LavenderBlush  ;
	color:brown;
	border: 5px solid DarkBlue;
	text-align:center;
	padding: 15px;
	margin:auto;
	width: 1000px;
}

footer {
	
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3SkkYHwtRg_5iqUhYkYOHsXLfd0cr9yWM1DKi_HwdSvDDkeNo);
	color:white;
	border: 5px solid White;
	padding: 15px;
	margin:auto;
	width: 1000px;
	
	}

#container {
	
	border: 5px dashed Gold;
	text-align:center;
	padding: 0px;
	margin:auto;
	}

